#space5 {
  border: 4px darkgray solid;
}

#space2, #space8 {
  border-left: 4px darkgray solid;
  border-right: 4px darkgray solid;
}

#space4, #space6 {
  border-top: 4px darkgray solid;
  border-bottom: 4px darkgray solid;
}

td {
  height: 20px;
  width: 20px;
}

table {
  border-collapse: collapse;
  height: 250px;
  width: 250px;
}

section {
  text-align: center;
}

.X {
  color: red;
}

.O {
  color: blue;
}
