#space5 {
  border: 1px solid;
}

#space2, #space8 {
  border-left: 1px solid;
  border-right: 1px solid;
}

#space4, #space6 {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

td {
  height: 20px;
  width: 20px;
}

table {
  border-collapse: collapse;
  height: 250px;
  width: 250px;
}

section {
  text-align: center;
}
